Aki_Data/*
EscapeFromTarkov_Data/*
Logs/*
MonoBleedingEdge/*
NLog/*
user/cache/*
user/launcher/*
user/logs/*
user/profiles/*
Aki.Launcher.exe
Aki.Server.exe
doorstop_config.ini
EscapeFromTarkov.exe
LICEN*
spt-aki-installer_20230627.log
SPTInstaller.exe
UnityPlayer.dll
winhttp.dll
BepInEx/cache/*
BepInEx/core/*
BepInEx/patchers/*
BepInEx/LogOutput.log
